.search__query {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 41px;
  display: flex;
  border-bottom: 1px solid #ddd;
}
.search .search-box {
  height: 40px;
  flex: 1;
}
.search .search-box__loader {
  display: none;
}
.search__results {
  position: absolute;
  top: 41px;
  left: 0;
  right: 0;
}
.search .hits-hit {
  text-align: center;
}
.search .hits-hit a {
  text-decoration: none;
}
.search .hits-hit__poster {
  max-width: 100px;
  max-height: 140px;
  display: inline-block;
}
.search .hits-hit__title {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}
em{

  background-color: yellow;
}
.sk-results-list a{


  text-decoration: none;
  color: #2a4466;
}
.divResultList{


  padding-left: 15px;
}
.divLogoClass{

padding-right: 15px;
text-align: right;

}

.divResultList h3{

  margin-bottom: 0px;
}

.spanTypeResult{

color: #7b4672 !important;
}
.sk-pagination-navigation{
  
  display: none;
  }

.span_open_portal{

  text-decoration: underline inportant;
  color: white !important;
  
  
  }
  .span_open_case a{

padding: 5px;
 text-decoration: underline;
     
  }
  .span_open_portal{

  text-decoration: underline;
  color: white !important;
  margin-left: 50px; 
  
  }

  .span_open_portal a{
 text-decoration: underline;
padding: 5px;
     
  }

   .imgHelp img{


padding-right: 15px;



  }

  #left { float:right }
#right { float:right }

.helpLink{


  text-align: right;
  float:right ;
color: #08c;
}